doctype html
html( lang='en')
	head
		title Alert Request
		meta( charset='utf-8' )
		meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1.0' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		link( rel='icon', href='favicon.ico', type='image/x-icon' )
		link( rel='stylesheet', href='style.css' )
		script( type='module' src='script.js' )


	body
		main.page
			section.section
				.container
					.row
						.col
							h2.h2 Alert Request Form
							.block
								a.link( href='output.html' ) Alert page
								!= ' '
								a.link( href='output.html' ) User page
							form.alert-form( method='post' action='alrreq' )
								input.input( type='text' name='name' placeholder='name')
								input.input( type='number' name='time' placeholder='time')
								textarea.input( name='text' )
								.form-group.form-list.inline-group( data-imglist )
									input.flag-img( type='radio' name='img' value='assets/img/cat.gif' style={ 'background-image': 'url(assets/img/cat.gif)' })
								.form-group.form-list.inline-group( data-soundlist )
									.form-sound
										input.sound-flag( type='radio' name='sound' value='assets/sound/arcade-magic-notification.wav' )
										audio.sound-media( src='assets/sound/arcade-magic-notification.wav' )
										button.sound-btn.btn( type='button' ) Play
								.form-group.inline-group
									button.btn( type='submit' ) Send
									button.btn(
										type='button'
										data-sample!={
											name: 'OXAYAZA',
											time: 5000,
											text: 'Advenas acipensers'
										}
									) Sample 1
									button.btn(
										type='button'
										data-sample!={ name: 'atom', time: 2500, text: 'Щастя здоровля, йопта!' }
									) Sample 2
									button.btn(
										type='button'
										data-sample!={ name: 'Lola', text: 'Говно' }
									) Sample 3
									button.btn(
										type='button'
										data-sample!={ name: 'Empty' }
									) Sample 4
						.col
							h2.h2 Queue
							pre.output-stats empty
